In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1.unstack()

          1         2         3
a  2.248937 -1.033266 -0.844250
b  2.278100 -0.001168       NaN
c -0.175523       NaN -1.019056
d       NaN -0.340475  0.024077

In [2]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
#s1.unstack()
s1

a  1    0.549639
   2   -0.933157
   3    1.113816
b  1    0.124442
   2    1.812050
c  3   -0.989408
   1    0.029033
d  2    0.375442
   3   -0.366651
dtype: float64