In [6]:
import pandas as pd
df1 = pd.read_csv('每日各站進出站人數20190423-20191231.csv')
df1.iloc[:20]

    trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0    20190423      900             8442             7743
1    20190423      910             1394             1348
2    20190423      920             2770             2423
3    20190423      930             6113             6335
4    20190423      940             2680             2726
5    20190423      950             2077             1785
6    20190423      960            10057            10561
7    20190423      970            10178            10466
8    20190423      980            10957            11160
9    20190423      990            18098            18010
10   20190423     1000            55931            53907
11   20190423     1010             4563             4457
12   20190423     1020            18495            18515
13   20190423     1030             3049             2920
14   20190423     1040            13745            14071
15   20190423     1050             1093             1094
16   20190423     1060             1420             1394
17   20190423     1070             7930             8101
18   20190423     1080            24539            25402
19   20190423     1090             8879             8505